@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 30px;
}

.App {
  text-align: center;
}

.completed {
  color: #cccccc;
  text-decoration: line-through;
}

.fa-trash {
  margin-left: 0.75rem;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0099cc;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.todo-button {
  background: #0099cc;
  color: #fff;
  border: none;
  padding: 11px;
  cursor: pointer;
}

.todo-form {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #0099cc;
  padding: 10px 15px;
  margin-bottom: 20px;
  width: 400px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-list {
  margin-top: 30px;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
}

@media screen and (max-width: 480px) {
  .todo-input {
    width: 290px;
  }
}
 
@media screen and (max-width: 380px) {
  .todo-input {
    width: 250px;
  }
}

@media screen and (max-width: 280px) {
  .todo-input {
    width: 180px;
  }
}
